{{ define "main" }}
<section class="hero">
  <div class="hero-body p-0">
    <div class="card">
      <div class="card-image">
        <figure class="image">
          <picture>
            <source srcset="img/kolli.webp" type="image/webp">
            <source srcset="img/kolli.png" type="image/png"> 
            <img src="img/kolli.png" alt="Kolli Image" width="659" height="306">
          </picture>
        </figure>
      </div>
      <div class="card-content is-overlay">
        <span class="tag is-secondary is-size-3">Valvil Ori, Kolli Malai</span>
      </div>
      <div class="card-content">
        <p>The Mountain is named Kolli Malai after the name of Goddess Ettukkai Amman (also known as Kollipavai)
          guarding
          the hills with her divine protection.</p>
        <br>
        <p>Kolli Hills is one of the beautiful places, situated in Namakkal District of the state of Tamil Nadu. This
          beautiful location is referred to as the Kolli Malai, and it means the ‘Mountains of Death.' The hills are
          over almost 1000 to 1300 meters in height that cover more than 280 sq. Km. You will get nearly 70 hairpin
          bends, which take the tourists to the top of the hill. Furthermore, the hills are actually the part of
          discontinuous Eastern Ghats.</p>
        <br>
        <p>
          The early Hindu literature talks about the actual existence of the Kolli Pavai ghost on the top of these hills
          and in this way, they have earned the ultimate destination this name. This image or spirit used to tempt the
          wayfarers and kill them. So, if you are a travel buff, you would surely love to roam around the entire place
          to explore the beauty of nature as well.</p>
        <br>
        <p>
          Located in central Tamil Nadu on the east coast of South India, the mountains are part of the broader Eastern
          Ghat range and have an elevation of 4,265 ft (1,300 m) covering about 70,000 acres (280 km²).
        </p>
      </div>
    </div>
  </div>
</section>
{{ end }}